/*
====================================================

Layout

====================================================
*/


h3, h1 {
    padding-bottom: 40px;
}

.flex-wrapper {
    width: 100%;
}

.inner {
    max-width: 1170px;
    margin: auto;
}

.nav-bar,
.fixed-nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar {
    padding-top: 42px;
    z-index: 1;
}

.hide-top {
    margin-top: -72px;
    -moz-transition: margin .5s;
    -webkit-transition: margin .5s;
    transition: margin .5s;
}

.fixed-nav {
    position: fixed;
    width: 100%;
    padding: 8px;
    -moz-transition: margin .5s;
    -webkit-transition: margin .5s;
    transition: margin .5s;
}

.logo {
    width:48px;
    flex:none;
}

.nav-section{
    flex:1 1 auto;
}

.nav-items{
    display: flex;
    justify-content: flex-end;
}

.nav-items li {
    margin-left: 20px;
}

.home {
    z-index: 2;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.home-text {
    padding-top:180px;
    max-width: 476px;
    flex: 0 1;
}

.home-button {
    align-self: flex-end;
    margin:40px 0 180px 0;
}

.centered, .centered-info {
    display:flex;
    flex-direction: column;
    align-items:center;
}

footer, .centered-info, .stats, .service-list {
    padding: 100px 0;
}

.load {
    padding: 50px 0;
}

.centered-text {
    max-width: 620px;
    flex: 0 1;
    text-align: center;
}

.skills-background {
    height: 100%;
    width: 50%;
}

.skills {
    display: flex;
    height: 624px;
    align-items: center;
}

.skills-info {
    padding: 0 100px;
    width: 50%;
    background-color: white; 
}

.progress-bar {
    background-color: rgb(167, 166, 166);
    width: 100%;
    height: 8px;
    margin:16px 0 32px 0;
}

.progress-fill {
    background-color: #673AB7;
    width: 46%;
    height: 8px;
}

.stats, .testimonial-background {
    background-color: #673AB7;
    color: white;
}

.stat-list {
    display: flex;
}

.stat-item {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    width:25%;
}

.responsive-list {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-first-row, .project-second-row {
    height: 303px;
    flex: 1 0 341px;
    border: 1px solid slategrey;
}

/* credit to https://benmarshall.me/responsive-iframes/ for responsive iframe technique */

.video {
    width: 70%;
    margin: auto;
    position: relative;
    overflow: hidden;
    padding-bottom: 39.4%;
}

.video iframe {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.service-list {
    align-items: baseline;
    justify-content: space-around;
}

.service {
    margin-top: 16px;
    height: 137px;
    flex: 0 0 260px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.service h5 {
    margin-bottom: 4px;
}

.testimonial {
    padding-top: 180px;
    padding-bottom: 55px;
    max-width: 807px;
}

.testimonial button {
    margin-top: 100px;
}

.testimonial p {
    padding-top:36px;
}

.company-list {
    justify-content: space-around;
    padding: 56px 0;
}

.contact p {
    margin-bottom: 44px;
}

.contact-form {
    max-width: 674px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-form input:nth-of-type(2){
    margin-left: 26px;
}

input, textarea {
    box-sizing: border-box;
    padding-left: 16px;
    width: 100%;
    height: 44px;
    margin-bottom: 28px;
}

textarea {
    padding-top: 16px;
    height: 164px;
}

.small-input {
    width: 48%;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.company-info {
    flex: 0 0 400px;
}

.nav-background, .home-background, .skills-background, .load {
    background-color: #EDE7F6;
} 

.footer-background,
.fixed-nav  {
    background-color: #212121;
}

/*
==============================

Fonts

==============================
*/

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5em;
}

h1,
h3, 
.skills-info h5, 
.stats h5, 
.nav-items, 
.service h5, 
.testimonial h5, 
.load{
    font-weight: bold;
}

h1 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

.stats h5 {
    font-size: 20px;
}

.testimonial h5 {
    font-size: 12px;
}

.load, p, li{
    color: #424242
}

.stat-list p, 
.testimonial p, 
footer {
    color: white;
}

/*
==============================

Buttons

==============================
*/
button{
    background-color: #673AB7;
    color: white;
    font-weight: bold;
    padding: 16px;
    border: none;
}

/*
===============================

Icons

===============================
*/
.icon img {
    padding-right:16px;
    height: 50px;
    width: 50px;
}